<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.shopMapper">

<select id="list_1" parameterType="hashMap" resultType="com.board.domain.GoodsJoinCate">
SELECT
g.gdsNum,g.gdsName,g.cateCode,c.cateCodeRef,c.cateName,gdsPrice,gdsStock,gdsDes,gdsImg,gdsDate,g.gdsImg,g.gdsThumbImg
from tbl_goods g
inner join goods_category c
on g.cateCode = c.cateCode
where g.cateCode =#{cateCode} or c.cateCodeRef=#{cateCodeRef}
</select>
<select id="list_2" resultType="com.board.domain.GoodsJoinCate">
SELECT
g.gdsNum,g.gdsName,g.cateCode,c.cateCodeRef,c.cateName,gdsPrice,gdsStock,gdsDes,gdsImg,gdsDate,g.gdsImg,g.gdsThumbImg
from tbl_goods g
inner join goods_category c
on g.cateCode = c.cateCode
where g.cateCode =#{cateCode}
</select>



</mapper>